.home {
  background-image: url('../assets/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* fond de superposition, opacité 0.3 */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* noir avec transparence */
  z-index: 0;
}

.content {
  z-index: 1;
}


.about{
    padding: 40px;
}

/* .card-title{
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-color: blue;
} */